<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>start</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <!-- main -->
    <main>
        <div class="container">
            <form action="{% url 'dynamic_page' page='test' %}">
                <input type="text" 
                name="verification_code" 
                id="verification_code" 
                minlength="6" 
                maxlength="6" 
                pattern="\d{6}" 
                placeholder="Введите код" 
                required name="" id="" placeholder="Введите код">
                <div class="button">
                    <button class="login">Войти</button>
                </div>
            </form>
        </div>
     </main>
</body>
</html>