<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Topic}}</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      {{template "header" .}}
      <!-- ====================================================== -->
      <div class="main">
        <div class="container">
          <div class="main_page">
            {{template "nav_bar" .}}
            <div class="main_posts_datas fl_r">
              {{if .AuthenticatedUser}} {{template "create_post" .}} {{end}}
              <div class="posts">
                {{range .Posts}}
                <a href="/post?id={{.ID}}">
                  <div class="post-table">
                    <div class="post-header">
                      <div class="post-autor-datas">
                        <div class="post-autorname">{{.AuthorName}}</div>
                        <div class="post-createdtime">
                          {{humanDate .CreatedAt}}
                        </div>
                      </div>
                      <div class="post-ctg">
                        {{range .Categories}}
                        <div id="categories-container">
                          <pre class="post-category-anme">{{.Name}} </pre>
                        </div>
                        {{end}}
                      </div>
                    </div>
                    <div class="post-content-datas">
                      <img src="{{.ImagePath}}" alt="" />
                      <div class="post-title">{{.Title}}</div>
                      <div class="post-content">{{.Content}}</div>
                    </div>
                    <div class="post-reactions-datas">
                      <div class="reactions">
                        <img
                          src="/static/assets/8300917.png"
                          class="reaction"
                          style="transform: scaleY(-1)"
                          alt="like button"
                        />
                        {{.Likes}}
                      </div>
                      <div class="reactions">
                        <img
                          src="/static/assets/8300917.png"
                          class="reaction"
                          alt="dislike button"
                        />
                        {{.Dislikes}}
                      </div>

                      <!-- reactions -->
                    </div>
                  </div>
                </a>
                {{end}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ====================================================== -->
      {{template "footer" .}}
    </div>

    <script src="static/js/main.js"></script>
  </body>
</html>
